body{
  background-color: #a9a9a9; 
}

h1, h2 {
  font-family: 'Cinzel Decorative'; 
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

h1 {
  text-shadow: 2px 2px 10px #000000; /*gives the title a shadow*/

}


.header img {
  width: 80px;
  height:90px;
  padding-top: 30px; /*adds spacing obove bird logo*/

  
}

.title {

 display: flex; /*flexbox */
 justify-content: center; /*centers the items inside the title*/
 gap: 130px; /* gap between title and logo */

}


.navBar ul {
  list-style: none; /*gets rid of the bullet points*/
  display: flex;
  flex-direction: row; /*aligns the list in a row */
  flex-wrap: wrap;
  gap: 80px; /* gap between words*/
  justify-content: center; 
  font-size: 40px;
  padding: 10px 10px; 
 
}

.navBar {
  font-weight: bold;
  background-color: #29e929;
  
}

.navBar a {
  text-decoration: none;
  color: black;
}

.welcome  p {
 font-size: 25px; 
}

.container {
  display: grid;
  grid-template-areas:
    "header header"  /* header grid area*/
    "welcome favorite" /* welcome grid area */
    "footer footer"; /*footer grid area */
 
  grid-template-columns: 2fr 1fr;  /* the areas take up 2:1 ratio. in the grid a area group. ex welcome 2: fav 1*/
  row-gap: 10px;
 
}

.container > div.header {
  grid-area: header;
  text-align: center; 
  background-color:#54d454;
  padding: 0px 10px 0px 10px; /* pads left and right */

}

.container > div.welcome {
  grid-area: welcome;
  background-color: #29e929;
  justify-content: center;
 padding: 30px;
 border-style: solid; /* gives the grid a border */
 border-width: 8px;
 border-color:#54d454;

}


.container > div.favorite {
  grid-area: favorite; 
  background-color: #29e929;
  padding: 30px;
  justify-content: center;
  border-style: solid;
  border-width: 8px;
  border-color:#54d454;

   
}
.container > div.footer {
  grid-area: footer;
  background-color: #54d454;
  border-style: solid;
  border-width: 8px;
  border-color:#54d454; 
   
}


.bird-photo {
  width: 30vw;     /* 20% of the view port*/      
  max-width: 400px;     /* max size is 400 px */ 
}

.bird-photo a {
  float: right; 
  width: 50%;           
  padding: 5px;      
  box-sizing: border-box;  /* ensure the padding stays inside a certian width */ 
}

.bird-photo img {
  width: 100%;         
  height: auto;
  
}
